/* Write your CSS code here */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(239, 239, 239);
}

.pagination-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
         margin: 120px;
}


.link{
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    border-radius: 5px;
}

.link-page {
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    border-radius: 5px;
}

.move-nextPage,
.move-previousPage {
        margin-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;

}

.link:hover {
    color: white;
    background-color: black;
}

.row2,
.row6,
.row4 {
    margin-top: 40px;
    margin-bottom: 100px;
}

.link1 {
        margin-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            background-color: rgb(255, 255, 255);
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
            font-size: 14px;
            border-radius: 50px;
}

.link2 {
            margin-left: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 15px;
                padding-right: 15px;
}

.link-page1 {
        margin-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            background-color: rgb(0, 0, 0);
            color: white;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
            font-size: 14px;
            border-radius: 5px;
}

.move-nextPage1 {
            margin-left: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 15px;
                padding-right: 15px;
                background-color: rgb(255, 255, 255);
                box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
                font-size: 14px;
                border-radius: 50px;
}
